# NODE_ENV=development

# === Supabase config =====
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=your_supabase_anon_key

# === postgres config =====
PG_HOST=localhost
PG_PORT=your_postgres_port
PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password
PG_DATABASE=your_postgres_database

# === OLLAMA (Local) =====
OLLAMA_API_BASE="http://localhost:11434/"
OLLAMA_MODEL_NAME="scb10x/typhoon2.5-qwen3-4b"
# OLLAMA_MODEL_NAME="scb10x/typhoon2.1-gemma3-12b"

# === EMBEDDING =====
RAG_EMBEDDING_BATCH_SIZE=15
